@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-image {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.processing {
  color: white;
  font-size: small;
  margin-top: -10px;
}

.btn {
  color: black;
}

.inverted {
  filter: invert(100%);
  color: black;
}

.invert-mode {
  color: var(--invert-color);
}

.combined {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.v-graph {
  height: 560px;
}

.grid-display {
  display: flex;
  justify-content: center;
  align-content: center;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.marker-bar {
  transform: rotate(180deg);
}

.top-card {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socials {
  margin-right: 20px;
}
.socials:hover {
  width: 30px;
  height: 30px;
}

@media (max-width: 840px) {
  .dashboard-title {
    display: none;
  }
  .logo-hyped1 {
    margin-top: 30px;
  }
}

@media (max-width: 780px) {
  .levitation-badges {
    display: none;
  }
}
@media (max-width: 1025px) {
  .section1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    height: 165px;
    width: 100%;
  }
  .timer-card {
    width: 100%;
  }
  .gauge-card {
    width: 100%;
    height: 155px;
    justify-content: center;
    align-content: center;
  }
  .gauge-div {
    margin: auto;
    width: 50%;
  }
}

@media (max-width: 766px) {
  .gauge-div {
    margin: auto;
    width: 95%;
  }
  .section1 {
    margin-bottom: 200px;
  }
}
