@tailwind base;
@tailwind components;
@tailwind utilities;
 
.fade-in-image {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.processing {
  color: white;
  font-size: small;
  margin-top: -10px;
}

.btn {
  color: black;
}

.inverted {
  filter: invert(100%);
  color: black;
}

.invert-mode {
  color: var(--invert-color);
}

.levitation {
  transform: rotate(90deg);
  /* margin-bottom: 100px; */
}

.levitate {
  /* padding-right: 150px; */
  /*position: absolute;*/
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  /* padding-top: -15px; */
  margin-bottom: 10px;
  
}

.levitate-2 {
  transform: rotate(-90deg);
  /* padding-left: 50px; */
  padding-left: 170px;
  
  
}

.levitate-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  width: 490px;
  height: 410px;

}

.combined {
  display: flex;
  flex-direction:column;
  gap: 30px;
}

@media (min-width: 499px) and (max-width: 768px)  {
  .levitate-card {
    width: 360px;
    height: 400px;
    padding-top: 150px;
  }
  .levitate-2{
    padding-left: 50px;
  }
  .levitate {
    margin-bottom: 120px;
    margin-top: -10px;
  }
  .levitate-1 {
    height: 280px;
  }
}

@media (max-width: 499px)  {
  .levitate-card {
    width: 360px;
    height: 400px;
    padding-top: 150px;
  }
  .levitate-2{
    padding-left: 72px;
    margin-bottom: 0px;
  }
  .levitate {
    margin-bottom: 120px;
    margin-top: 10px;
  }
  .levitate-1 {
    height: 280px;
  }
  
}

@media (min-width: 768px) and (max-width: 1023px)  {
  .levitate-card {
    width: 350px;
    height: 445px;
    padding-top: 150px;
  }
  .levitate-2{
    padding-left: 70px;
    
  }
  .levitate {
    margin-bottom: 120px;
    margin-top: 10px;
    
    
  }
  
}

.v-graph {
  height: 410px;
}

.grid-display {
  display: flex;
  justify-content: center;
  align-content: center;
  
  


}

.heading {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.marker-bar {
  transform: rotate(180deg);
}

.top-card {
  display: flex;
  justify-content: center;
}