[Unit]
Description=HYPED Raspberry Pi Manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=hyped
ExecStart=pi_manager

[Install]
WantedBy=multi-user.target