[Unit]
Description=HYPED Raspberry Pi Manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=hyped
ExecStart=/usr/bin/env python3 /home/hyped/pi_manager/pi_manager.py

[Install]
WantedBy=multi-user.target